body {
  margin: 0;
  padding: 0;
  font-family: "Roboto Slab", serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  width: 100%;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
}

.header__logo {
  font-size: 20px;
}

.header_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(119, 117, 117);
  padding: 35px 0px;
}

.nav {
  display: flex;
  text-transform: uppercase;
}

.nav__link {
  text-decoration: none;
  color: rgb(141, 135, 135);
  opacity: 0.8;
  transition: 0.5s all ease;
  margin-left: 30px;
  font-size: 20px;
}

.nav__link:first-child {
  margin: 0;
}

.nav__link:hover {
  color: rgb(0, 0, 0);
  opacity: 1;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  height: 750px;
  background: white url("img/header_bg.jpg") center no-repeat / cover;
}

.intro__inner {
  width: 100%;
  max-width: 970px;
  margin: 0 auto;
  text-align: center;
}

.intro__title {
  font-size: 70px;
  font-weight: 700;
  line-height: 1.1;
  margin: 0;
  text-transform: uppercase;
}

.intro__subtitle {
  font-size: 22px;
  line-height: 1.3;
  font-weight: 500;
  margin-bottom: 30px;
}

.btn {
  display: inline-block;
  vertical-align: top;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  color: white;
  padding: 15px 30px;
  border-radius: 5px;
  margin: 5px;
  transition: 0.3s all linear;
}

.btn--black {
  background-color: black;
}

.btn--black:hover {
  background-color: rgb(136, 136, 136);
  color: black;
}

.features {
  display: flex;
  margin: 50px 0;
  flex-wrap: wrap;
}

.features__item {
  width: 33.33333%;
  text-align: center;
  margin: 25px 0px;
}

.features__icon {
  margin-bottom: 10px;
}

.features__text {
  padding: 25px;
}

.works {
  display: flex;
  flex-wrap: wrap;
}

.works__item {
  width: 25%;
  height: 350px;
  position: relative;
  overflow: hidden;
  border-bottom: 1px solid white;
  border-right: 1px solid white;
}

.works__item:hover .works__content {
  opacity: 1;
}

.works__img {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate3d(-50%,-50%, 0);
}

.works__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  text-transform: uppercase;
  opacity: 0;
  background-color: rgb(136, 136, 136, 0.7);
  transition: 0.3s all linear;
}

.team {
  margin: 100px 0 80px;
}

.team__inner {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.team__item {
  width: 25%;
  padding: 0 15px;
  margin-bottom: 20px;
}

.team__photo {
  display: block;
  width: 100%;
  height: auto;
}

.team__name {
  margin-bottom: 10px;
  font-weight: 700;
  text-align: center;
}

.team__pro {
  font-size: 12px;
  text-transform: uppercase;
  color: rgb(141, 135, 135);
  margin-bottom: 5px;
  text-align: center;
}

.team__info {
  font-size: 14px;
  line-height: 1.5;
}